<div>
  <h3>Orders</h3>
  <table border="1">
    <thead>
    <tr>
      <th>Order Reference</th>
      <th>Item</th>
      <th>Status</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Payment Type</th>
      <th>Payment Status</th>
      <th>Created Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.orderReference}}</td>
      <td>{{order.orderItem}}</td>
      <td>{{order.orderStatus}}</td>
      <td>{{order.amount}}</td>
      <td>{{order.currency}} {{order.price}}</td>
      <td>{{order.paymentType}}</td>
      <td>{{order.paymentStatus}}</td>
      <td>{{order.createdDate}}</td>
      <td><button id="history" type="button" (click)="this.getOrderHistory(order.orderId)" class="btn btn-primary">History</button>
      <td><button type="button" class="btn btn-primary">Edit</button>
      <td><button type="button" (click)="this.getCustomer(order.customerId)" class="btn btn-primary">Customer</button>
    </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>
</div>
