<div class="container">
  <div class="row">
    <div class="col-md-9">

      <h3 align="center">History</h3>
        <table border="1">
          <thead>
          <tr>
            <th>History Id</th>
            <th>Order Id</th>
            <th>History Type</th>
            <th>From Status</th>
            <th>To Status</th>
            <th>Username</th>
            <th>User note</th>
            <th>History Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let history of histories">
            <td>{{history.historyId}}</td>
            <td>{{history.orderId}}</td>
            <td>{{history.historyType}}</td>
            <td>{{history.fromStatus}}</td>
            <td>{{history.toStatus}}</td>
            <td>{{history.username}}</td>
            <td>{{history.userNote}}</td>
            <td>{{history.historyDate}}</td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
