<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8 col-8">
      <div class="card">
        <div class="card-header">New User</div>
        <div class="card-body">
          <form name="form" (ngSubmit)="addNewUser()">
            <fieldset>
              <legend></legend>

              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Kamal Rathnayake"
                       [(ngModel)]="user.name">
              </div>

              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="kamal90"
                       [(ngModel)]="user.username">
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder=""
                       [(ngModel)]="user.password">
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="" [(ngModel)]="user.email">
              </div>

              <div class="form-group">
                <label for="mobile">Mobile</label>
                <input type="text" id="mobile" name="mobile" placeholder="0716..."
                       [(ngModel)]="user.mobile">
              </div>

              <div class="form-group">
                <label for="userRole">Role</label>
                <select id="userRole" name="userRole" [(ngModel)]="user.userRole">
                  <option *ngFor="let x of availableUserRoles" [value]="x" [selected]="">{{x}}</option>
                </select>
              </div>

              <!--- Buttons Block --->
              <div class="form-group">
                <button type="reset" (click)="cancel()" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
