<div>
  <h3>Products</h3>
  <table border="1">
    <thead>
    <tr>
      <th>Product Reference</th>
      <th>Product</th>
      <th>Available Amount</th>
      <th>Price</th>
      <th>Product Status</th>
      <th>Description</th>
      <th>Valid Until</th>
      <th>Created Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.itemReference}}</td>
      <td>{{product.sellingItem}}</td>
      <td>{{product.availableAmount}}</td>
      <td>{{product.currency}} {{product.price}}</td>
      <td>{{product.status}}</td>
      <td>{{product.description}}</td>
      <td>{{product.validUntil}}</td>
      <td>{{product.createdDate}}</td>
      <td><button type="button" (click)="editProduct(product.id)" class="btn btn-primary">Edit</button>
      </td>
      <td><button type="button" (click)="removeProduct(product.id)" class="btn btn-primary">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button type="button" (click)="addNewProduct()" class="btn btn-primary">Add New</button>
</div>
