<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation" *ngIf="showNavigation">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/order" routerLinkActive="active">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product" routerLinkActive="active">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user" routerLinkActive="active">User</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
