<div class="container">
  <div class="row">
    <div class="col-md-9">

      <div class="form-group">
        <label for="name">Customer Name</label> : <label id="name">{{customer.customerName}}</label>
      </div>

      <div class="form-group">
        <label for="mobileNumber">Customer Mobile Number</label> : <label id="mobileNumber">{{customer.mobileNumber}}</label>
      </div>

      <div class="form-group">
        <label for="email">Customer Email</label> : <label id="email">{{customer.email}}</label>
      </div>

      <div class="form-group">
        <label for="customerAddress">Customer Address</label> : <label id="customerAddress">{{customer.customerAddress}}</label>
      </div>

      <div class="form-group">
        <label for="createdDate">Created Date</label> : <label id="createdDate">{{customer.createdDate}}</label>
      </div>
      <button (click)="backFromCustomerView()" class="btn">Back</button>
    </div>
  </div>
</div>

